
.App {
    display: flex;
    flex-direction: column;
    height: 100vh;
    text-align: center;
    font-size: 5vw;
}

.header {
    background-color: papayawhip;
    padding: 4vw;
}

.footer {
    background-color: lightgreen;
    padding: 2vw;

}

.middle {
    background-color: palevioletred;
    flex: 1;
    align-items: center;
    justify-content: center;
}

body {
    margin: 0;
}